# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
.env

# Production build
dist/

# TypeScript
*.tsbuildinfo

# Logs
logs
*.log
logs/*

# OS
.DS_Store
Thumbs.db

# VSCode and IDEs
.vscode/
.idea/

# Misc
*.swp
*.swo
*.bak
*.tmp
*.cache
